
<div class="content-block dx-card responsive-paddings">
    <h2>Verification</h2>
    <!-- <a routerLink="/home" class="backtomain"><i class="icon dx-icon-chevrondoubleleft"></i><span class="icon-name">Back</span></a> -->
    <p>Welcome {{this.customer.firstname}} {{this.customer.lastname}}</p>
    <form (submit)="submitForm($event)">
      <dx-form id="form"
        labelLocation="top"
        [formData]="customer"
        [showValidationSummary]="true"
        [colCountByScreen]="colCountByScreen">

        <!-- <dxi-item dataField="firstname" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="lastname" [editorOptions]="{ disabled: true }"></dxi-item> -->

        <!-- <dxi-item>
            {{customer.firstname}} {{customer.lastname}}
        </dxi-item> -->

        <dxi-item dataField="verification" [isRequired]="true">
            <dxi-validation-rule type="numeric" message="Veridacation codemust be only numbers without spaces"></dxi-validation-rule>
          </dxi-item>
        <dxi-item itemType="button" (click)="submitForm($event)" [buttonOptions]='buttonOptions'></dxi-item>
  
  
      </dx-form>
    </form>
  </div>
  
  <dx-popup
      [width]="300"
      [height]="250"
      [showTitle]="true"
      title="{{popupTitle}}"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
          <p>{{popupMessage}}</p>
      </div>
  </dx-popup>