<header *ngIf="isAutorized(); else notAuthorized">
  <dx-toolbar class="header-toolbar">
    <!-- <dxi-item
      *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      cssClass="menu-button"
      [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }">
    </dxi-item> -->
    <dxi-item
      location="before"
      cssClass="header-title">
      <div><a class="head" (click)="moveHome(e)"><img src="assets/images/ch_logo.png" width="150"></a></div>
    </dxi-item>
    <dxi-item
      location="after"
      locateInMenu="auto"
      menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'">
        <dx-button
          class="user-button authorization"
          width="310px"
          height="100%"
          stylingMode="text">
          <div *dxTemplate="let data of 'content'">
            <app-user-panel [menuItems]="userMenu" menuMode="context"></app-user-panel>
          </div>
        </dx-button>
      </div>
    </dxi-item>
    <div *dxTemplate="let data of 'menuItem'">
      <app-user-panel [menuItems]="userMenu" menuMode="list"></app-user-panel>
    </div>
  </dx-toolbar>
</header>



<ng-template #notAuthorized>
<header>
  <dx-toolbar class="header-toolbar">
    <!-- <dxi-item
      *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      cssClass="menu-button"
      [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }">
    </dxi-item> -->
    <dxi-item
      location="before"
      cssClass="header-title">
      <div><a class="head" (click)="moveHome(e)"><img src="assets/images/ch_logo.png" width="150"></a></div>
    </dxi-item>
    <dxi-item
      location="after"
      locateInMenu="auto"
      menuItemTemplate="menuItem">
      <div class="user-info" *ngIf="!authService.userInfo || authService.userInfo == undefined">
        <i class="dx-icon dx-icon-key"></i>
        <div class="user-name"><a href="login">Login</a></div>
      </div>
    </dxi-item>
    <div *dxTemplate="let data of 'menuItem'">
      <app-user-panel [menuItems]="userMenuItems" menuMode="list"></app-user-panel>
    </div>
  </dx-toolbar>
</header>
</ng-template>
