<form (submit)="submitForm($event)">
    <dx-form id="form"
      [formData]="customer"
      labelLocation="top"
      [showValidationSummary]="true"
      [colCountByScreen]="colCountByScreen">

      <dxi-item dataField="Email" [colSpan]="2" [editorOptions]="{ disabled: true }"></dxi-item>
      <dxi-item dataField="FirstName"></dxi-item>
      <dxi-item dataField="LastName"></dxi-item>
      <dxi-item dataField="Mobile" [isRequired]="true">
        <dxi-validation-rule type="required" message="Mobile is required"></dxi-validation-rule>
        <dxi-validation-rule type="numeric" message="Mobile number must be only numbers without spaces"></dxi-validation-rule>
      </dxi-item>
      
      <dxi-item dataField="licePlate">
        <dxo-label text="Licence Plate"></dxo-label>
        <dxi-validation-rule type="required" message="Licence Plate is required"></dxi-validation-rule>
      </dxi-item>
      <!-- <dxi-item dataField="LicencePlate"></dxi-item> -->
       <dxi-item dataField="password" [editorOptions]="{ mode: 'password' }">
        <dxi-validation-rule 
          type="pattern"
          [pattern]="passwordPattern"
          message="Password must contain minimum 8 characters with a combination of 0-9, A-Z, a-z and special characters.">
        </dxi-validation-rule>
        <!-- <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule> -->
      </dxi-item>
      
      <dxi-item dataField="reEnterPassword" [editorOptions]="{ mode: 'password' }">
        <dxo-label text="Confirm Password"></dxo-label>
        <dxi-validation-rule 
            type="compare" 
            [comparisonTarget]="passwordComparison"
            message="Password and Confirm Password do not match">
        </dxi-validation-rule>
        <!-- <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule> -->
      </dxi-item>

      <dxi-item></dxi-item>

       <!-- <dxi-item 
        itemType="simple"
        dataField="accepted"
        editorType="dxCheckBox"
        [editorOptions]="{ 
            text: 'I agree to the Terms and Conditions',
            value: false
        }">
        <dxo-label [visible]="false"></dxo-label>
        <dxi-validation-rule type="compare" [comparisonTarget]="checkComparison" message="You must agree to the Terms and Conditions">
        </dxi-validation-rule>
      </dxi-item> -->



      <dxi-item itemType="button" [buttonOptions]='buttonOptions'></dxi-item>

    </dx-form>
  </form>