@import "../../../../themes/generated/variables.base.scss";

.login-header {
  text-align: center;
  margin-bottom: 40px;

  .title {
    color: #000;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
  }
}
