<div class="content-block dx-card responsive-paddings" *ngIf="authService.showSection">
  <!-- <form> -->
  <form (submit)="onLoginClick($event)">
    <dx-validation-group>
      <div class="login-header">
        <a routerLink="/home" class="backtomain"><!-- i class="icon dx-icon-chevrondoubleleft"></i><span class="icon-name">Back Home</span --></a>
        <div class="title">{{appInfo.title}}</div>
        <div>Sign In to your account</div>
      </div>
      <div class="dx-field">
        <dx-text-box [(value)]="login" placeholder="Email" width="100%">
          <dx-validator>
            <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="dx-field">
        <dx-text-box mode="password" [(value)]="password" placeholder="Password" width="100%">
          <dx-validator>
            <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <!-- <div class="dx-field">
        <dx-check-box [value]="false" text="Remember me"></dx-check-box>
      </div> -->
      <div class="dx-field">
        <dx-button type="default" id="test" text="Login" (onClick)="onLoginClick($event)" width="100%" useSubmitBehavior='true'></dx-button>
         <!-- <button type="submit">Login</button> -->
      </div>
      <div class="dx-field">
        <a routerLink="/recovery">Forgot password ?</a>
      </div>
    </dx-validation-group>
  </form>


</div>
<dx-popup
    [width]="300"
    [height]="250"
    [showTitle]="true"
    title="{{result.popupTitle}}"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="result.popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>{{result.popupMessage}}</p>
    </div>
</dx-popup>
<!-- <dx-popup
[width]="300"
[height]="250"
[showTitle]="true"
title="{{popupInfo.status}}"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
[(visible)]="popupVisible">
<div *dxTemplate="let data of 'content'">
    <p>{{popupInfo.message}}</p>
</div>
</dx-popup> -->