<div class="content-block dx-card responsive-paddings">
  <a routerLink="{{backlink}}" class="backtomain"><i class="icon dx-icon-chevrondoubleleft"></i><span class="icon-name">Back</span></a>
    <h2>Enter Payment Details</h2>
  
    <app-creditcard></app-creditcard>
  
  
  </div>