.form-avatar {
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  overflow: hidden;

  img {
    height: 120px;
    display: block;
    margin: 0 auto;
  }
}

.top{
  margin-top: 15px;
}
.card{
  border: solid 3px #2A6EBB;
  margin-bottom: 20px;
  padding: 20px;
  // background-image: url("../../images/carpark.jpg");
  background-size: cover;
  background-position: bottom right;
  h2{
      font-size: 24px;
      font-weight: bold;
      // color:  #2A6EBB;
      border-bottom: 1px solid #2A6EBB;
      padding-bottom: 10px;
  }

  ul{
      margin-left: 0;
      padding-left: 0;
  }
  li{
      font-size: 14px;
      list-style: none;
  }
  .price{
      margin-top:20px;
      //color:#a3a3a3;
  }
  
  .dx-button.dx-button-default{
      width: 100%;
      height: initial;
      padding: 6px;
      border-radius: 1px;
  }
}

h3{
  font-size: 1.2em;
  font-weight: bold;
}
