<div class="content-block dx-card responsive-paddings">
  <a routerLink="/home" class="backtomain" *ngIf="result.notMobileApp"><i class="icon dx-icon-chevrondoubleleft"></i><span class="icon-name">Back</span></a>
    <h2>Reset</h2>
    <form (submit)="submitForm($event)" class="form1">
      <dx-form id="form"
        labelLocation="top"
        [formData]="customer"
        [showValidationSummary]="true"
        [colCountByScreen]="colCountByScreen">
        <dxi-item dataField="password" [editorOptions]="{ mode: 'password' }" [isRequired]="true">
          <dxi-validation-rule 
            type="pattern"
            [pattern]="passwordPattern"
            message="Password must contain minimum 8 characters with a combination of 0-9, A-Z, a-z and special characters.">
          </dxi-validation-rule>
          <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>        
        </dxi-item>
  
        <dxi-item dataField="reEnterPassword"  [editorOptions]="{ mode: 'password' }" [isRequired]="true">
          <dxo-label text="Confirm Password"></dxo-label>
          <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
          <dxi-validation-rule 
              type="compare" 
              [comparisonTarget]="passwordComparison"
              message="Password and Confirm Password do not match">
          </dxi-validation-rule>
        </dxi-item>
  
  
  
        <dxi-item></dxi-item>
        <dxi-item itemType="button" [buttonOptions]='buttonOptions'></dxi-item>
  
  
      </dx-form>
    </form>
  </div>
  
  <dx-popup
      [width]="300"
      [height]="250"
      [showTitle]="true"
      title="{{popupTitle}}"
      [dragEnabled]="false"
      [closeOnOutsideClick]="false"
     
      [(visible)]="popupVisible"  (onHiding)="onHiding($event)">
      <div *dxTemplate="let data of 'content'">
          <p>{{popupMessage}}</p>
      </div>
     
  </dx-popup>