<div class="content-block dx-card responsive-paddings">
  <a routerLink="/home" class="backtomain" *ngIf="result.notMobileApp"><i class="icon dx-icon-chevrondoubleleft"></i><span class="icon-name">Back</span></a>
    <h2>Forgot Password</h2>
    <form (submit)="submitForm($event)" class="form1">
      <dx-form id="form"
        labelLocation="top"
        [formData]="customer"
        [showValidationSummary]="true"
        [colCountByScreen]="colCountByScreen">
        
        
        <dxi-item dataField="Email" [isRequired]="true" [editorOptions]="options">
            <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
            <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
            <!-- <dxi-validation-rule type="async" message="Email is already registered" [validationCallback]="asyncValidation"> -->
        </dxi-item>
        <dxi-item itemType="button" [buttonOptions]='buttonOptions'></dxi-item>
  
  
      </dx-form>
    </form>
  </div>
  
  <dx-popup
      [width]="300"
      [height]="250"
      [showTitle]="true"
      title="{{popupTitle}}"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
          <p>{{popupMessage}}</p>
      </div>
  </dx-popup>