<ng-container *ngIf="result.historySource">
    <div class="card" *ngFor="let data of result.historySource">
        <div *ngIf="data.bookingStart">
                   <div class="section-field">
            <h2>Booking ID : {{data.Id}}</h2>
        </div>
        <div class="section-field" >
            <ul>
                <li *ngIf="data.Id">Booking type : {{data.name}}</li>
                <li *ngIf="data.bookingStart">Date : {{data.bookingStart | date:'dd/MM/yyyy'}}</li>
                <li *ngIf="data.bookingStart">Arrival time : {{data.bookingStart | date:'shortTime' }}</li>
                <!-- li class="price" *ngIf="data.amount">Price - {{data.amount}}</li -->
            </ul>
        </div>
        <div class="dx-field">
            <dx-button text="Cancel" stylingMode="contained" type="default"></dx-button>
        </div>
    </div>
    </div>
</ng-container>
<!-- 
<dx-data-grid 
    id="gridContainer"
    [dataSource]="dataSource"
    [showBorders]="true"
    (onRowRemoving)="logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')">
    <dxo-editing
        mode="cell"
        [allowDeleting]="true">
    </dxo-editing>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>

    <dxi-column dataField="Id"></dxi-column>
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="name" caption="Product"></dxi-column>
    <dxi-column dataField="bookingStart"></dxi-column>
    <dxi-column dataField="bookingEnd"></dxi-column>
    <dxi-column dataField="amount"></dxi-column>
    <dxi-column dataField="createdDate"></dxi-column>
</dx-data-grid> -->
