:host {
  @import "../themes/generated/variables.base.scss";
  background-color: darken($base-bg, 5.00);
  background-image: url("images/opusBackground.jpg");
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
}
img.load{
  width: 100px;
  height:100px;
  margin: 0 auto;
  // margin-left: -100px;
}