<div id="overlay" *ngIf="result.loading">
  <div class="loader">
    <img src="assets/images/park.svg" class="load">
  </div>
</div>

<ng-container *ngIf="notMobileApp(); else isMobileApp">
    <app-side-nav-outer-toolbar title="{{appInfo.title}}">
      <router-outlet></router-outlet>
      <app-footer>
        <!-- Copyright © 2011-{{appInfo.currentYear}} {{appInfo.title}} Inc.
        <br/>
        All trademarks or registered trademarks are property of their respective owners. -->
      </app-footer>
    </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #isMobileApp>
  <app-single-card>
    <router-outlet></router-outlet>
  </app-single-card>
</ng-template>
