.margintop{
    margin-top:30px;
}

.dx-first-col.dx-last-row{
    padding-top:30px;
}

.popuptitle{
    font-size: 18px;
    text-decoration: underline;
}

// .note{
//     color:#2A6EBB;
// }
.center-footer{
    text-align: center;
    img{
        width: 100px;
        vertical-align: middle;
    }
}
