
<div class="content-block dx-card responsive-paddings">
  <a routerLink="/home" class="backtomain" *ngIf="result.notMobileApp"><i class="icon dx-icon-chevrondoubleleft"></i><span class="icon-name">Back</span></a>
  <h2>Create Account</h2>
  <form (submit)="submitForm($event)">
    <dx-form id="form"
      labelLocation="top"
      [formData]="customer"
      [showValidationSummary]="true"
      [colCountByScreen]="colCountByScreen">
      <dx-validation-summary id="summary"></dx-validation-summary>

      <dxi-item dataField="FirstName" [editorOptions]="{ placeholder: 'First Name' }">
        <dxo-label text="First Name"></dxo-label>
      </dxi-item>
      <dxi-item dataField="LastName" [editorOptions]="{ placeholder: 'Last Name' }">
        <dxo-label text="Last Name"></dxo-label>
      </dxi-item>
      

      <dxi-item dataField="Email" [isRequired]="true" [editorOptions]="{ placeholder: 'Email' }">
        <dxo-label text="Email"></dxo-label>
        <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
        <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
        <!-- <dxi-validation-rule type="async" message="Email is already registered" [validationCallback]="asyncValidation"> -->
    </dxi-item>

    <dxi-item dataField="confirmEmail" [isRequired]="true" [editorOptions]="{ placeholder: 'Confirm Email' }">
        <dxo-label text="Confirm Email"></dxo-label>
        <dxi-validation-rule 
            type="compare" 
            [comparisonTarget]="emailComparison"
            message="Please reconfirm Email">
        </dxi-validation-rule>
        <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
        <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
        <!-- <dxi-validation-rule type="async" message="Email is already registered" [validationCallback]="asyncValidation"> -->
    </dxi-item>
    
    <dxi-item dataField="Mobile" [editorOptions]="{ placeholder: 'Mobile' }">
      <dxi-validation-rule type="numeric" message="Mobile number must be only numbers without spaces"></dxi-validation-rule>
    </dxi-item>

    
    <dxi-item dataField="licePlate" [editorOptions]="{ placeholder: 'Licence Plate' }">
      <dxo-label text="Licence Plate"></dxo-label>
      <dxi-validation-rule type="required" message="Licence Plate is required"></dxi-validation-rule>
    </dxi-item>

      <dxi-item [colSpan]="2">
        <div *dxTemplate>
          <strong class="note">Password must contain minimum 8 characters with combination of uppercase and lowercase characters (A-Z;a-z), number (0-9) and special characters (e.g. !$&amp;#).</strong>
        </div>
      </dxi-item>
      
      <dxi-item dataField="password" [editorOptions]="{ mode: 'password' }" [isRequired]="true">
        <dxi-validation-rule 
          type="pattern"
          [pattern]="passwordPattern"
          message="Password must contain required characters">
        </dxi-validation-rule>
        <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>        
      </dxi-item>

      <dxi-item dataField="reEnterPassword" [editorOptions]="{ mode: 'password' }" [isRequired]="true">
        <dxo-label text="Confirm Password"></dxo-label>
        <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
        <dxi-validation-rule 
            type="compare" 
            [comparisonTarget]="passwordComparison"
            message="Password and Confirm Password do not match">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item></dxi-item>
      <dxi-item></dxi-item>
      <dxi-item></dxi-item>
      <!-- <dxi-item>
        <div *dxTemplate>
          View <a href="#" (click)="showInfo(e)">Terms and Conditions</a>
        </div>
      </dxi-item> -->
      <dxi-item></dxi-item>

      <!-- <dxi-item class="hidden" name="check-tnc"
        dataField="termsAndConds"
        editorType="dxCheckBox"
        [editorOptions]="{ 
            text: 'I agree to the Terms and Conditions',
            value: false
        }"><dxo-label [visible]="false"></dxo-label>
        <dxi-validation-rule type="compare" [comparisonTarget]="checkComparison" message="You must agree to the Terms and Conditions">
        </dxi-validation-rule>
        
      </dxi-item> -->

      <dxi-item itemTemplate="checkbox-item">
        <dxo-label [visible]="false"></dxo-label>
        <div *dxTemplate="let data of 'checkbox-item'; let index = index">
          <dx-check-box name="check-tnc"
            dataField="termsAndConds"
            [(value)]="termsAndConds">
            <dx-validator>
              <dxi-validation-rule type="required" message="You must agree to the Terms and Conditions."></dxi-validation-rule>
              <dxi-validation-rule type="compare" [comparisonTarget]="checkComparison" message="You must agree to the Terms and Conditions">
              </dxi-validation-rule>
            </dx-validator>
          </dx-check-box>
          I agree to the <a href="" (click)="showInfo()">Terms and Conditions</a>
        </div>
        
      </dxi-item>

      <!-- <dxi-item itemTemplate="checkbox-item">
        <dxo-label [visible]="false"></dxo-label>
        <div *dxTemplate="let data of 'checkbox-item'; let index = index">
          <dx-check-box name="check-tnc"
            dataField="termsAndConds"
            [(value)]="customer.termsAndConds">
                <dxi-validation-rule type="compare" [comparisonTarget]="checkComparison" message="You must agree to the Terms and Conditions">
                </dxi-validation-rule>
              </dx-check-box>
          I agree to the <a (click)="showInfo()">Terms and Conditions2</a>
        </div>
        
      </dxi-item> -->

     
      <dxi-item itemType="button" [buttonOptions]='buttonOptions1' *ngIf="!termsAndConds"></dxi-item>
      <dxi-item itemType="button" [buttonOptions]='buttonOptions2' *ngIf="termsAndConds"></dxi-item>
      <dxi-item [colSpan]="2">
        <div *dxTemplate class="center-footer">
          <b><i>powered by <img src="assets/images/opuspark.png" /></i></b>
        </div>
      </dxi-item>


    </dx-form>
  </form>
</div>

<dx-popup
    
    [showTitle]="true"
    title="User Terms and Conditions"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view width="100%" height="100%">

      <p>These terms and conditions govern your use of the OpusPark application service (OpusPark APP), provided by InterOffice Holdings Pty Ltd, (ABN 92 643 355 202) (InterOffice).  Please read them before you use the OpusPark app.</p>

    <h3 class="popuptitle">Acceptance of Terms and Conditions</h3>
        <p>By registering with the OpusPark APP you accept these terms and conditions. If you do not accept these terms and conditions, you must not use this service.</p>
    <h3 class="popuptitle">Amendment of Terms and Conditions</h3>
        <p>These terms and conditions may be amended in whole or in part by InterOffice from time to time and will become effective immediately, without prior notice. By continuing to use the service after we have published revised terms and conditions on the InterOffice website, (<a href="https://interoffice.com.au">https://interoffice.com.au</a>) you agree to be bound by the revised terms and conditions as published.</p>
    <h3 class="popuptitle">Becoming a Registered User</h3>
        <p>Becoming a registered user is free and forms a legally binding contract which is enforceable against you.</p>
    <h3 class="popuptitle">Customer and Transaction Fees</h3>
        <p>The Payment Gateway is provided by Windcave, utilising the car park operator Merchant Account.
        <br/><br/>For casual parkers, when you purchase parking through the OpusPark APP, you are authorising Windcave to debit your nominated credit card(s).
          <br/><br/>Fees will be debited from the credit card account(s) designated by you at the time of registration or subsequently.
          <br/><br/>OpusPark APP customer fees are inclusive of GST (if any).  Customer fees may vary from time to time without notice.
          <br/><br/>Upon first time entry of credit card details, Windcave will deduct $1.00 AUD from the customers’ credit card account. This transaction will display as ‘Pending’.  The transaction will reverse out of the credit card account, up to seven days after the initial $1.00 AUD debit occurred.
        </p>
        <h3 class="popuptitle">Refunds</h3>
        <p>A customer is able to cancel an OpusPark APP car park booking up to twelve (12) hours before the commencement date of the booking.
        <br/><br/>If cancellation is within the approved cancellation timeframe, the Refund Transaction Process will be triggered.  Refunds to the customer credit card account can take up to three business days, and are facilitated by the Payment Gateway Provider, Windcave, after the approval of the car park operator.</p>
        <h3 class="popuptitle">Disclaimer</h3>
        <p>You expressly understand and agree that you use the OpusPark APP at your own risk.
        <br/><br/>While InterOffice and its partners and suppliers have used their best endeavours to ensure that appropriate systems are in place to reduce the risk of credit card abuse and other forms of fraudulent activity, we are not responsible for protecting the OpusPark APP users and merchants from credit card abuse or other forms of wrongful or fraudulent activity.
        <br/><br/>Provided that we have taken reasonable steps to protect our systems InterOffice does not accept any liability for any damage, loss, cost expense or harm arising directly or indirectly as a result of any computer virus on unauthorised access of our system.
        <br/><br/>InterOffice accepts no responsibility for any inability to use the service that arises from an issue between you and your network or communication provider.
        <br/><br/>InterOffice accepts no responsibility or liability for any issues which may arise between you and a merchant.</p>
        <h3 class="popuptitle">Liability</h3>
        <p>Notwithstanding any other terms of this agreement, you agree that, to the maximum extent permitted by law, any and all liability and responsibility of InterOffice to you or any other person under or in connection with these terms and conditions, or in connection with the OpusPark APP, any InterOffice customer act or omission, or your use of or inability to use, the OpusPark APP, is excluded regardless of whether such liability arises in contract, tort (including negligence), equity, breach of statutory duty or otherwise. Our liability and responsibility is excluded in respect of any and all loss or damage, whether direct or indirect, including, without limitation, loss of profits, loss of data, loss of business or anticipated savings, general and special damages, and consequential and incidental loss.</p>
        <h3 class="popuptitle">Indemnity</h3>
        <p>By using this service you agree to release and indemnify us and to keep us indemnified from and against all actions, claims, costs (including legal costs and expenses on a solicitor and client basis), losses, proceedings, damages, liabilities, or demands suffered or incurred by us to any person arising out of or in connection with your failure to comply with these terms and conditions or failure by you or a merchant to complete a transaction or out of or in connection with your use of the service. This includes loss due to any loss of goodwill or reputation.</p>
        <h3 class="popuptitle">Force Majeure</h3>
        <p>Without prejudice InterOffice has no liability for any lack of performance, or for any failure of us to comply with these terms and conditions where the same arises from any cause reasonably beyond our control.</p>
        <h3 class="popuptitle">Breach</h3>
        <p>Without limiting any other rights and remedies available to us, we may limit your use of the OpusPark APP, terminate your account, or refuse to provide our services to you if in our opinion you breach these terms and conditions.
        <br/><br/>InterOffice reserves the right to block anyone from using the OpusPark APP at its sole discretion.</p>
        <h3 class="popuptitle">Use of Information</h3>
        <p>All information exchanged by the parties in the course of carrying out the service shall be used only for the purpose of providing the service and subject only to the next clause, shall be kept confidential by the parties. We do not sell, publish, or rent your personal information to third parties.
        <br/><br/>Notwithstanding any other provision of this agreement, InterOffice may make non‐specific information about its business (e.g. numbers of customers, geographic spread, turnover, transaction types and value etc.) available to prospective investors, bankers and purchasers for due diligence purposes.
        <br/><br/>In the event of the sale of any or all of the InterOffice business, your information will be released to the purchaser for the purpose of continuing the service.</p>
        <h3 class="popuptitle">Privacy</h3>
        <p>The OpusPark APP collects information about you, first/last name, email, mobile number and your transaction activities through your use of the OpusPark APP. You agree that we may use this information to assist us to provide the OpusPark APP to you, for internal research purposes, to verify your identity, for promoting and marketing our merchants to you, and for any other use that you authorise.
        <br/><br/>Customer information and Booking Information is stored within MS Azure (Australia Data Centre). This database is private and specific to the car park operation which OpusPark APP relates to. Customer’s credit card information is stored with Windcave, the Payment Gateway Merchant, adhering to PCI and P2PE encryption solutions.
        </p>
        <h3 class="popuptitle">Accurate Information</h3>
        <p>You warrant that you have provided complete, accurate and current personal information when registering with the OpusPark APP. You must maintain and update your personal information held by us to ensure it is kept current at all times. We may phone or email you to verify these details.</p>
        <h3 class="popuptitle">Updating Your Information</h3>
        <p>We provide you with ways in which you can alter, update and add to your personal data, including your email address, credit card details, password and phone number, however the responsibility for updating the information rests solely with you.</p>
        <h3 class="popuptitle">Security of Your Information</h3>
        <p>You are responsible for keeping your login information, including your user name and password, secret and secure. Without limiting the foregoing, you agree to not permit any other person to use your user log in information; and not to disclose, or provide to any other person your user name, password or any other information in connection with your user identification that may allow them to gain access to your account.</p>
        <h3 class="popuptitle">Intellectual Property Rights</h3>
        <p>InterOffice or its assigns, own all proprietary and intellectual property rights of the service and in the website (including text, graphics, logos, icons) and the software and other material underlying and forming part of the services or the website.
          <br/><br/>You may not without our prior written permission, in any form or by any means: adapt, reproduce, copy, store, distribute, print, display, perform, publish or create derivative works from any part of this service or website; or commercialise, copy, or on‐sell any information, or items obtained from any part of the service or website.
        </p>
        <h3 class="popuptitle">No Waiver</h3>
        <p>If we do not exercise or enforce any right available to us under these terms and conditions, it does not constitute a waiver of those rights.</p>
        <h3 class="popuptitle">Governing Law</h3>
        <p>These terms and conditions are governed by the laws of Australia. You submit to the non‐exclusive jurisdiction of the Courts of Australia.</p>
        <h3 class="popuptitle">Car Park Terms and Conditions</h3>
        <p>In addition to these terms and conditions, the user is bound by the terms and conditions as stated in the car park.</p>
        <h3 class="popuptitle">Terminology</h3>
        <p>In these terms and conditions, the following expressions have the meanings set out: 'customer' means a person who uses the OpusPark service;
        <br/>'WINDCAVE' means Windcave ;
          <br/>'InterPark Australia' means InterPark Australia Pty Ltd;
          <br/>'member' or 'customer' means a registered user of OpusPark APP;
          <br/>'InterOffice Holdings' means InterOffice Holdings Pty Ltd;
          <br/>'we', 'us' and 'our' are a reference to InterOffice Holdings;
          <br/>'you' and 'your' are a reference to you;
          <br/>'website' means the URL address <a href="https://interoffice.com.au">https://interoffice.com.au</a>
        </p>
</dx-scroll-view>


    </div>
</dx-popup>
