  <form (submit)="submitForm($event)" id="credit-form" *ngIf="showForm">
    <dx-form id="form"
      [formData]="credit"
      labelLocation="top"
      [showValidationSummary]="true"
      [colCountByScreen]="colCountByScreen2">



      <dxi-item dataField="Name" [colSpan]="2" [editorOptions]="inputOption">
        <dxo-label text="Cardholder Name"></dxo-label>
        <dxi-validation-rule type="required" message="Cardholder Name is required."></dxi-validation-rule>
      </dxi-item>
      
      <dxi-item dataField="CreditCardNumber" [colSpan]="2" [editorOptions]="inputOption2">
        <!-- <dxi-validation-rule type="async" message="CreditCardNumber is already registered" (onKeyDown)="asyncValidation"></dxi-validation-rule> -->
          <dxi-validation-rule
          type="stringLength"
          [max]="16"
          message="Valid Credit Card Number is required."></dxi-validation-rule>
          <dxi-validation-rule
            type="stringLength"
            [min]="13"
            message="Valid Credit Card Number is required."></dxi-validation-rule>
            <dxi-validation-rule type="required" message="Valid Credit Card Number is required."></dxi-validation-rule>
            <dxi-validation-rule type="numeric" message="Valid Credit Card Number is required."></dxi-validation-rule>
      </dxi-item>

      


      <dxi-item itemType="group" caption="Expiry Date" [colSpan]="2" [colCountByScreen]="colCountByScreen2" *ngIf="!disableDropDown">
        <dxi-item dataField="month" editorType="dxSelectBox"
        [editorOptions]="{ dataSource: monthList }">
        <dxi-validation-rule 
            type="required"
            message="Expiry Month is required.">
        </dxi-validation-rule></dxi-item>
        <dxi-item dataField="year" editorType="dxSelectBox"
        [editorOptions]="{ dataSource: yearList }">
        <dxi-validation-rule 
            type="required"
            message="Expiry Year is required."></dxi-validation-rule>
          </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" caption="Expiry Date" [colSpan]="2" [colCountByScreen]="colCountByScreen2" *ngIf="disableDropDown">
        <dxi-item dataField="month" [editorOptions]="inputOption"></dxi-item>
        <dxi-item dataField="year" [editorOptions]="inputOption"></dxi-item>
      </dxi-item>

      
      <dxi-item *ngIf="disableForm" [colSpan]="2"></dxi-item>

      <dxi-item dataField="CVC" [colSpan]="2" [editorOptions]="{inputOption: true, placeholder: 'CVC' }" *ngIf="!disableForm">
        <dxi-validation-rule
          type="stringLength"
          [min]="3"
          message="Minimum number is 3"></dxi-validation-rule>
          <dxi-validation-rule
            type="stringLength"
            [max]="4"
            message="Maximun number is 4"></dxi-validation-rule>
        <dxi-validation-rule type="numeric" message="CVC must be only numbers without spaces"></dxi-validation-rule>
        <dxi-validation-rule type="required" message="CVC(Card Verification Code) is required."></dxi-validation-rule>
      </dxi-item>

     
      <dxi-item></dxi-item>


      
      <dxi-item itemType="button" [buttonOptions]='buttonOptions'></dxi-item>

    </dx-form>
  </form>

  <p *ngIf="!showForm">There is no payment information</p>
