@import "../../../../themes/generated/variables.base.scss";

:host {
  display: block;
  color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 24px;
}

.right-footer{
  text-align: right;
  display: none;
  @media (min-width: 640px) {
    display: block;
  }

  img{
      width: 100px;
      vertical-align: middle;
  }
}