<div class="content-block dx-card responsive-paddings">
    <h2>Profile</h2>
    <div>
        <tabset>
            <tab heading="Personal" id="tab1">
            <app-profile-form></app-profile-form>
            <app-creditcard [disableForm]="true"></app-creditcard>
            </tab>
            <!-- <tab heading="Credit card">
            </tab> -->
            <tab heading="History">
                <ng-container *ngIf="result.historySource">
					<div class="card" *ngFor="let data of result.historySource">
			  <div class="section-field">
				  <h2>{{data.name}}<ng-container *ngIf="data.cancelled == 'Cancelled'"> - {{data.cancelled}}</ng-container>
				  </h2>
			  </div>
			  <div class="section-field">
				  <ul>
					<li *ngIf="data.Id">Booking ID : {{data.Id}}</li>
					<li>Location : No.1 Martin Place Car Park</li>
					<li>Address : No.1 Martin Place Car Park , Sydney (entry via Pitt St)</li>
					<li *ngIf="data.DisplayInfo">Access times : {{data.DisplayInfo}}</li>
					<li *ngIf="data.createdDate">Booked date : {{data.createdDate}}</li>
					  <li *ngIf="data.cancelledDate">Cancelled date : {{data.cancelledDate}}</li>
					<!-- <li *ngIf="data.bookingStart">Date : {{changeDate(data.bookingStart, 'date')}}</li> -->
					<!-- li class="price" *ngIf="data.amount && data.amount.length > 0">
					  Price -
					  <ng-container *ngIf="data.PricingInfo">{{data.PricingInfo}}</ng-container>
					  <ng-container *ngIf="!data.PricingInfo">{{data.amount}} (incl GST)</ng-container>
					</li -->
				  </ul>
			  </div>
			  <div class="dx-field" *ngIf="data.refund">
				  <dx-button text="Cancel" stylingMode="contained" type="default" (click)="cancelBooking(data.refund)"></dx-button>
			  </div>
		  </div>
                </ng-container>
            <app-history></app-history>
            </tab>
			<tab heading="Help" #tabC="tab">
				<div class="card top">
					<div class="section-field">
						<h2 style="border-bottom: 0 none;">How can we help?</h2>
						<p>InterOffice Holdings Pty Ltd (trading as OpusPark)<br>
							<a href="mailto:support@interoffice.com.au">support@interoffice.com.au</a></p>
					</div>
				</div>
			</tab>

			<tab heading="FAQs" #tabC="tab">
                <br/>
				<p class="top"><b>What is OpusPark?</b><br>
					OpusPark is a mobile car park booking and access APP.</p>

				<p><b>Where can I use OpusPark?</b><br>
					OpusPark can be used at affiliated car parks in Australia.</p>

				<p><b> How much does parking cost?</b><br>
					Parking cost will vary depending on how long you park, the car park you are in, and the time of day / week. To view all of the rates available for a car park, go to the car park selector and select 'View Pricing'.</p>

				<p><b>Are my credit card details secure?</b><br>
					Yes. OpusPark uses a Tier 1 payment processor that adheres to the most stringent industry accreditations including PCI compliance and EMV certification.</p>

				<p><b>How do I sign up to OpusPark?</b><br>
					First, download OpusPark from the App Store or Google Play. Then, select ‘Create Account' to create your account.</p>

				<p><b>What types of parking can I choose from?</b><br>
					Most OpusPark affilated car parks offer Casual rates and a selection of prepaid sessions including Earlybird, Daily, Weekly EarlyBird or Monthly.  Prepaid sessions offer a flat rate for a pre-set duration and are often more cost-effective than Casual parking.</p>

				<p><b>How do I use a promotional code?</b><br>
					To use a promotional code, enter the Promotional Code, exactly as it was given to you into your Booking. Codes'.</p>

				<p><b>Can I use the same promotional code multiple times?</b><br>
					Yes.  If the promotional code is valid, it can be used across multiple bookings.</p>

				<p><b>As an OpusPark user, what are my responsibilities?</b><br>
					You are responsible for ensuring the car park you select in the APP matches the car park you are parked in, ensuring that the vehicle registration for your parking session matches the vehicle you are driving, and informing us as soon as possible if your phone is lost or stolen so we can prevent any unauthorised usage on your account.</p>

				<p><b>Who can I contact for help?</b><br>
					If you need assistance with the No.1 Martin Place Car Park, please contact the Car Park Management as the first point of contact</p>
			</tab>
        </tabset>
    </div>
</div>

<dx-popup
    [width]="300"
    [height]="250"
    [showTitle]="true"
    title="{{result.popupTitle}}"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="result.popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>{{result.popupMessage}}</p>
    </div>
</dx-popup>
