

.card{
    border: solid 3px #2A6EBB;
    margin-bottom: 20px;
    padding: 20px;
    // background-image: url("../../../images/carpark.jpg");
    background-size: cover;
    background-position: bottom right;
    h2{
        font-size: 24px;
        font-weight: bold;
        // color:  #2A6EBB;
        border-bottom: 1px solid #2A6EBB;
        padding-bottom: 10px;
    }
  
    ul{
        margin-left: 0;
        padding-left: 0;
    }
    li{
        font-size: 14px;
        //color:#a3a3a3;
        list-style: none;
    }
    .price{
        margin-top:20px;
    }
    
    .dx-button.dx-button-default{
        width: 100%;
        height: initial;
        padding: 6px;
        border-radius: 1px;
    }
  }
