<div class="dx-card responsive-paddings" *ngIf="ChksearchFlag == true">
  <div id="page">
    <dx-responsive-box singleColumnScreen="sm" [(screenByWidth)]="screen">
      <dxi-row [ratio]="1"></dxi-row>
      <dxi-row [ratio]="2"></dxi-row>
      <dxi-row [ratio]="1"></dxi-row>

      <dxi-col [ratio]="1"></dxi-col>
      <dxi-col [ratio]="1"></dxi-col>
      <dxi-item>
        <dxi-location
          [row]="0"
          [col]="0"
          [colspan]="2"
          screen="lg"
        ></dxi-location>
        <dxi-location
          [row]="0"
          [col]="0"
          [colspan]="2"
          screen="sm"
        ></dxi-location>
        <div *dxTemplate class="header item">
          <h2>{{ appinfo }}</h2>
          <div class="step-tab">
            <div class="step1 active">
              <span>1</span> Select Date &amp; Time
            </div>
            <div class="step2"><span>2</span> Book &amp; Pay</div>
          </div>
        </div>
      </dxi-item>

      <dxi-item>
        <dxi-location [row]="1" [col]="0" screen="lg"></dxi-location>
        <dxi-location [row]="2" [col]="0" screen="sm"></dxi-location>
        <div *dxTemplate class="left-side-bar item">
          <div class="section-field">
            <label>Select a Date</label>
            <dx-calendar
              #calendar
              id="calendar-container"
              (onValueChanged)="valueChanged($event, 'date')"
              [min]="minDate"
              [max]="maxDate"
              [(value)]="selectedDate"
            >
              <dxi-validation-rule
                type="required"
                message="Date is required"
              ></dxi-validation-rule>
            </dx-calendar>
          </div>
        </div>
      </dxi-item>
      <dxi-item>
        <dxi-location [row]="1" [col]="1" screen="lg"></dxi-location>
        <dxi-location [row]="2" [col]="1" screen="sm"></dxi-location>
        <div *dxTemplate class="right-side-bar item">
          <div class="section-field">
            <label>Select a Timeframe</label>
            <div class="radio-box-group">
              <button
                *ngFor="let product of productSourceObject"
                [class.active]="product.Id === bookingData.productType"
                (click)="productChanged(product.Id)"
              >
                <img
                  src="assets/images/daily_icon.png"
                  width="30"
                  *ngIf="product.Id == 2"
                />
                <img
                  src="assets/images/EB_weekly_Icon.png"
                  width="30"
                  *ngIf="product.Id == 1"
                />
                <img
                  src="assets/images/Monthly_Icon.png"
                  width="30"
                  *ngIf="product.Id == 3"
                />
                {{ product.Name }}
              </button>
            </div>
          </div>

          <div
            class="section-field"
            *ngIf="showTime"
            [class.disable]="bookingData.productType !== 2"
          >
            <label class="margin-gap">Time</label>
            <dx-select-box
              [dataSource]="timeList"
              [(selectedItem)]="selectedItem"
              [(value)]="selectedItem"
              (onValueChanged)="valueChanged($event, 'time')"
            >
            </dx-select-box>
          </div>

          <div class="section-field" *ngIf="bookingData.productType == 1">
            <br />
            <label>Your Selected Dates for Booking</label>

            <div
              class="section-field"
              *ngFor="let datecollect of collectionOfDates; let i = index"
              style="padding: 6px"
            >
              {{ datecollect | date: "dd/MM/yyyy" }}

              <span
                class="dx-icon-trash"
                (click)="removeDate(i)"
                style="font-size: 18px; padding: 10px"
              ></span>
            </div>
          </div>

          <div
            class="section-field"
            *ngIf="showTime"
            [class.disable]="bookingData.productType !== 2"
          >
            <label class="margin-gap">Duration</label>
            <div class="radio-box-group duration">
              <ng-container *ngFor="let duration of durationSource">
                <button
                  [class.active]="duration.hour === bookingData.duration"
                  (click)="durationChanged(duration.hour)"
                >
                  {{ duration.hour
                  }}<ng-container *ngIf="duration.hour == 4">+</ng-container>
                  hr<ng-container *ngIf="duration.hour != 1">s</ng-container>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </dxi-item>
      <dxi-item>
        <dxi-location
          [row]="2"
          [col]="0"
          [colspan]="2"
          screen="lg"
        ></dxi-location>
        <dxi-location
          [row]="3"
          [col]="0"
          [colspan]="2"
          screen="sm"
        ></dxi-location>
        <div *dxTemplate class="footer item">
          <div class="section-field padding-field">
            <dx-button
              text="Book Now"
              (onClick)="findSpace($event)"
              stylingMode="contained"
              type="default"
              *ngIf="checkButton"
              [disabled]="
                collectionOfDates.length == 0 &&
                this.bookingData.startDate == ''
              "
            ></dx-button>
            <dx-button
              text="Book Now"
              disabled="true"
              stylingMode="contained"
              type="default"
              *ngIf="!checkButton"
            ></dx-button>
          </div>
        </div>
      </dxi-item>
    </dx-responsive-box>
  </div>
</div>
