.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  &.margin-gap {
    margin-top: 50px;
  }
}

::ng-deep .custom-height-slider {
  height: 75px;
}

::ng-deep .dx-field .dx-slider {
  flex: 1;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  // width: 90px;
  padding-bottom: 15px;
  color: #2a6ebb;
}

.dx-calendar {
  width: 100%;
  min-width: 220px;
  max-width: 500px;
  // margin: 0 auto;
}
.padding-field {
  padding-top: 40px;
}
.section-field {
  &.disable {
    opacity: 0.2;
  }
}
.radio-box-group {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
  > button {
    // height: 50px;
    border: solid 1px #d7d7d7;
    background-color: #a3a3a3;
    color: #000;
    padding: 5px 15px 5px 0;
    text-align: center;
    display: inline-block;
    flex-grow: 2;
    font-size: 0.9em;
    &.active {
      background-color: #2a6ebb;
    }
  }
  &.duration {
    > button {
      padding: 10px 0;
    }
  }
}
.step-tab {
  color: #000;
  margin-bottom: 20px;
  display: flex;
  div {
    background-color: #2a6ebb;
    padding: 2px !important;
    border: 1px solid #000;
    display: inline-block;
    opacity: 0.7;
    width: 50%;
    line-height: 23px;
    font-size: 13px !important;
    color: #ffffff;
    flex-grow: 1;
    @media (min-width: 768px) {
      font-size: 14px;
      padding: 10px;
    }
    span {
      border: 2px #ffffff solid;
      display: inline-block;
      border-radius: 15px;
      width: 25px;
      text-align: center;
      height: 25px;
    }
    &.active {
      opacity: 1;
    }
  }
}

.dx-button.dx-button-default {
  min-width: 100%;
  height: initial;
  padding: 5px;
  border-radius: 2px;
}
.header {
  color: #fff;
  &.right {
    text-align: right;
  }
  .icon {
    font-size: 45px;
  }
}

.dx-card {
  // background-color: darken($base-bg, 5.00);
  // background-image: url("../../images/carpark.jpg");
  // background-image: url("../.
  background-size: cover;
  background-position: bottom right;
}
