<div id="page" class="dx-card responsive-paddings">
  <dx-responsive-box singleColumnScreen="sm" [(screenByWidth)]="screen">
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="2" screen="xs"></dxi-row>
    <dxi-row [ratio]="2"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>

    <dxi-col [ratio]="1"></dxi-col>
    <dxi-col [ratio]="2" screen="lg"></dxi-col>
    <dxi-col [ratio]="1"></dxi-col>
    <dxi-item>
      <dxi-location
        [row]="0"
        [col]="0"
        [colspan]="3"
        screen="lg"
      ></dxi-location>
      <dxi-location
        [row]="0"
        [col]="0"
        [colspan]="2"
        screen="sm"
      ></dxi-location>
      <div *dxTemplate class="header item">
        <div>
          <h2>Booking Confirmation</h2>
          <div class="step-tab">
            <div class="step1" (click)="backHome()">
              <span>1</span> Select Date &amp; Time
            </div>
            <div class="step2 active"><span>2</span> Book &amp; Pay</div>
          </div>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <dxi-location
        [row]="1"
        [col]="0"
        [colspan]="3"
        screen="lg"
      ></dxi-location>
      <dxi-location
        [row]="1"
        [col]="0"
        [colspan]="2"
        screen="sm"
      ></dxi-location>

      <div *dxTemplate class="content item">
        <!-- <p>Content</p> -->
        <div *ngIf="mapMarkers.length > 0">
          <div>
            <dx-map
              [zoom]="18"
              (onReady)="onReady($event)"
              [markers]="mapMarkers"
              [height]="280"
              width="100%"
              [controls]="true"
              [autoAdjust]="true"
              [center]="centerCoordinates"
            >
              <dxo-key google="AIzaSyDlKNvF3S3Fye912WvifajoY2UmH6wlMDo">
              </dxo-key>
            </dx-map>
          </div>
        </div>
      </div>
    </dxi-item>

    <dxi-item>
      <dxi-location
        [row]="2"
        [col]="0"
        [colspan]="3"
        screen="lg"
      ></dxi-location>
      <dxi-location
        [row]="3"
        [col]="0"
        [colspan]="2"
        screen="sm"
      ></dxi-location>
      <div *dxTemplate class="footer item">
        <!-- <p>Footer</p> -->
        <div id="target">
          <div *ngIf="proid == '1'">
            <div
              class="result-card"
              style="padding-top: 15px"
              *ngFor="let result of results"
            >
              <div id="divbuilding{{ result.BuildingId }}" class="build">
                <div class="fieldset">
                  <div class="section-field">
                    <h2>{{ result.ProductName }}</h2>
                  </div>
                  <div class="section-field" *ngIf="result.ResourceInfo">
                    <p [innerHTML]="result.ResourceInfo"></p>
                  </div>
                  <div class="section-field">
                    <div
                      class="section-field"
                      *ngFor="let datedet of sortData; let i = index"
                    >
                      <input
                        type="checkbox"
                        [id]="datedet + i"
                        [(ngModel)]="sortData"
                        (change)="
                          ChekboxChange(
                            $event.target.checked ? true : false,
                            datedet
                          )
                        "
                        checked
                      />
                      &nbsp;<span [innerHTML]="datedet.result"></span>
                    </div>
                  </div>

                  <div class="section-field" style="padding-top: 15px">
                    <dx-validation-summary id="summary"></dx-validation-summary>
                    <dx-button
                      text="{{ buttonText }}"
                      (onClick)="Selectedbookingvalues()"
                      stylingMode="contained"
                      type="default"
                    ></dx-button>
                  </div>

                  <input
                    id="sbuilding"
                    type="hidden"
                    [(ngModel)]="hiddenbuilding"
                  />
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="proid == '2'">
            <div
              class="result-card"
              style="padding-top: 15px"
              *ngFor="let result of results"
            >
              <div id="divbuilding{{ result.BuildingId }}" class="build">
                <div class="fieldset">
                  <div class="section-field">
                    <h2>{{ result.ProductName }}</h2>
                  </div>
                  <div class="section-field" *ngIf="result.ResourceInfo">
                    <p [innerHTML]="result.ResourceInfo"></p>
                  </div>

                  <div class="section-field">
                    <div class="form">
                      <div class="dx-fieldset section-field">
                        <div class="dx-field" *ngIf="licplatevisible == false">
                          <table class="dx-field" style="width: 100%">
                            <tr>
                              <td style="width: 50%">
                                <dx-label
                                  style="
                                    color: rgba(0, 0, 0, 0.87);
                                    font-size: 14px;
                                  "
                                  ><b>Licence Plate :</b></dx-label
                                >
                              </td>
                              <td style="width: 50%">
                                <dx-text-box
                                  [value]="licplate"
                                  [maxLength]="10"
                                  [inputAttr]="{
                                    style: 'text-transform: uppercase;'
                                  }"
                                  (keypress)="validateLicNo($event)"
                                  (onValueChanged)="valueChanged($event)"
                                  stylingMode="underlined"
                                >
                                  <dx-validator>
                                    <dxi-validation-rule
                                      type="required"
                                      message="Please enter a valid licence plate."
                                    >
                                    </dxi-validation-rule>
                                  </dx-validator>
                                </dx-text-box>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="dx-field" style="padding-top: 15px">
                    <dx-button
                      text="{{ buttonText }}"
                      (onClick)="bookSpace()"
                      stylingMode="contained"
                      type="default"
                    ></dx-button>
                  </div>
                  <input
                    id="sbuilding"
                    type="hidden"
                    [(ngModel)]="hiddenbuilding"
                  />
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="proid == '3'">
            <div
              class="result-card"
              style="padding-top: 15px"
              *ngFor="let result of results"
            >
              <div id="divbuilding{{ result.BuildingId }}" class="build">
                <div class="fieldset">
                  <div class="section-field">
                    <h2>{{ result.ProductName }}</h2>
                  </div>
                  <div class="section-field" *ngIf="result.ResourceInfo">
                    <p [innerHTML]="result.ResourceInfo"></p>
                  </div>

                  <div class="section-field">
                    <div class="form">
                      <div class="dx-fieldset section-field">
                        <div class="dx-field" *ngIf="licplatevisible == false">
                          <table class="dx-field" style="width: 100%">
                            <tr>
                              <td style="width: 50%">
                                <dx-label
                                  style="
                                    color: rgba(0, 0, 0, 0.87);
                                    font-size: 14px;
                                  "
                                  ><b>Licence Plate :</b></dx-label
                                >
                              </td>
                              <td style="width: 50%">
                                <dx-text-box
                                  [value]="licplate"
                                  [maxLength]="10"
                                  [inputAttr]="{
                                    style: 'text-transform: uppercase;'
                                  }"
                                  (keypress)="validateLicNo($event)"
                                  (onValueChanged)="valueChanged($event)"
                                  stylingMode="underlined"
                                >
                                  <dx-validator>
                                    <dxi-validation-rule
                                      type="required"
                                      message="Please enter a valid licence plate."
                                    >
                                    </dxi-validation-rule>
                                  </dx-validator>
                                </dx-text-box>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dx-field" style="padding-top: 15px">
                    <dx-button
                      text="{{ buttonText }}"
                      (onClick)="bookSpace()"
                      stylingMode="contained"
                      type="default"
                    ></dx-button>
                  </div>
                  <input
                    id="sbuilding"
                    type="hidden"
                    [(ngModel)]="hiddenbuilding"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dxi-item>
  </dx-responsive-box>
</div>

<!-- <div class="dx-card responsive-paddings"> -->

<!-- <div  class="header item">
  <h2>Booking Confirmation</h2>
    <div class="step-tab">
        <div class="step1" (click)="backHome()"><span>1</span> Select Date &amp; Time</div>
        <div class="step2 active"><span>2</span> Book &amp; Pay</div>
    </div>
</div> -->

<!-- <div  style="float:right;width:fit-content;" *ngIf="mapMarkers.length>0" >

          <div class="section-field">
    <dx-map [zoom]="25" [markers]="mapMarkers" [height]="418" [controls]="true" >
         <dxo-key google="AIzaSyCf1oXDyo-SYRs1kmJriqkkPAXTVEFbtwU">
        <dxo-key google="AIzaSyDlKNvF3S3Fye912WvifajoY2UmH6wlMDo">
        </dxo-key>
        </dx-map>
    </div>
  </div> -->

<!-- <div   style="float:left;width: fit-content;">




  <div *ngIf="proid=='1'" >
<div class="result-card" style="width: 350px;" *ngFor="let result of results" >
    <div class="fieldset"  >
        <div class="section-field">
            <h2>{{result.ProductName}}</h2>
        </div>
        <div class="section-field" *ngIf="result.ResourceInfo">
            <p [innerHTML]="result.ResourceInfo"></p>
        </div>
        <div class="section-field">
              <div class="section-field" *ngFor="let datedet of sortData ; let i=index">
             <input type="checkbox" [id]="datedet+i"  [(ngModel)]="sortData"  (change)="ChekboxChange($event.target.checked?true:false,datedet)" checked/>
              &nbsp;<span [innerHTML]="datedet.result"></span>
            </div>

        </div>
        <div class="section-field">
            <div class="form">
            <div class="dx-fieldset section-field">

            </div>
        </div>
        </div>



        <div class="section-field" style="padding-top:15px;" >
            <dx-validation-summary id="summary"></dx-validation-summary>
            <dx-button text="{{buttonText}}"  (onClick)="Selectedbookingvalues()"  stylingMode="contained"    type="default"></dx-button>
        </div>


    </div>

  </div>

</div>




<div *ngIf="proid=='2'">
<div class="result-card" *ngFor="let result of results">

    <div class="fieldset">
        <div class="section-field">
            <h2>{{result.ProductName}}</h2>
        </div>
        <div class="section-field" *ngIf="result.ResourceInfo">
            <p [innerHTML]="result.ResourceInfo"></p>

        </div>


        <div class="section-field">
            <div class="form">
            <div class="dx-fieldset section-field">
                <div class="dx-field" *ngIf="licplatevisible==false">

                    <table class="dx-field" style="width:100%;">
                        <tr>
                            <td style="width:50%;"> <dx-label   style="color:rgba(0,0,0,.87);font-size: 14px;"><b>Licence Plate :</b></dx-label>
                            </td>
                            <td style="width:50%;">
                              <dx-text-box   [value]="licplate" [maxLength]="10" [inputAttr]="{ 'style':  'text-transform: uppercase;'}" (keypress)=validateLicNo($event) (onValueChanged)="valueChanged($event)" stylingMode="underlined">
                                  <dx-validator>
                                      <dxi-validation-rule
                                          type="required" message="Please enter a valid licence plate." >
                                      </dxi-validation-rule>

                   </dx-validator>
                              </dx-text-box>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>

        <div class="dx-field" style="padding-top:15px;">

            <dx-button text="{{buttonText}}"  (onClick)="bookSpace()"  stylingMode="contained" type="default"></dx-button>
        </div>
    </div>

  </div>
</div>

<div *ngIf="proid=='3'">
    <div class="result-card" *ngFor="let result of results">

        <div class="fieldset">
            <div class="section-field">
                <h2>{{result.ProductName}}</h2>
            </div>
            <div class="section-field" *ngIf="result.ResourceInfo">
                <p [innerHTML]="result.ResourceInfo"></p>

            </div>

            <div class="section-field">
                <div class="form">
                <div class="dx-fieldset section-field">
                    <div class="dx-field" *ngIf="licplatevisible==false">

                        <table class="dx-field" style="width:100%;">
                            <tr>
                                <td style="width:50%;"> <dx-label   style="color:rgba(0,0,0,.87);font-size: 14px;"><b>Licence Plate :</b></dx-label>
                                </td>
                                <td style="width:50%;">
                                  <dx-text-box   [value]="licplate" [maxLength]="10" [inputAttr]="{ 'style':  'text-transform: uppercase;'}" (keypress)=validateLicNo($event) (onValueChanged)="valueChanged($event)" stylingMode="underlined">
                                      <dx-validator>
                                          <dxi-validation-rule
                                              type="required" message="Please enter a valid licence plate." >
                                          </dxi-validation-rule>

                       </dx-validator>
                                  </dx-text-box>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div class="dx-field" style="padding-top:15px;">
                <dx-button text="{{buttonText}}" (onClick)="bookSpace()"  stylingMode="contained"  type="default"></dx-button>
            </div>

        </div>

      </div>
    </div>



</div> -->

<!-- </div> -->

<dx-popup
  [width]="300"
  [height]="250"
  [showTitle]="true"
  title="{{ popupTitle }}"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="popupVisible"
>
  <div *dxTemplate="let data of 'content'">
    <p>{{ popupMessage }}</p>
  </div>
</dx-popup>
