h2 {
  // text-transform: capitalize;
  margin-top: 0;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.build {
  display: none;
}
.fieldset {
  border: solid 3px #2a6ebb;
  margin-bottom: 20px;
  padding: 20px;
  // background-image: url("../../images/carpark.jpg");
  background-size: cover;
  background-position: bottom right;
  h2 {
    font-size: 24px;
    font-weight: bold;
    // color:  #2A6EBB;
    border-bottom: 1px solid #2a6ebb;
    padding-bottom: 10px;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }
  li {
    font-size: 14px;
    //color:#a3a3a3;
    list-style: none;
  }
  .price {
    margin-top: 20px;
  }
}

.dx-button.dx-button-default {
  width: 100%;
  height: initial;
  padding: 6px;
  border-radius: 1px;
}

.step-tab {
  color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  div {
    font-size: 13px !important;
    background-color: #2a6ebb;
    padding: 2px !important;
    border: 1px solid #000;
    display: inline-block;
    opacity: 0.7;
    width: 50%;
    line-height: 23px;
    cursor: pointer;
    flex-grow: 1;
    @media (min-width: 50%) {
      font-size: 14px;
      padding: 10px;
    }
    span {
      border: 2px #ffffff solid;
      display: inline-block;
      border-radius: 15px;
      width: 25px;
      text-align: center;
      height: 25px;
    }
    &.active {
      cursor: none;
      opacity: 1;
    }
  }
}
