h2{
    text-transform: capitalize;
    margin-top: 0;
}

h3{
    font-size: 16px;
    font-weight: bold;
}

.fieldset{
    border: solid 3px #2A6EBB;
    margin-bottom: 20px;
    padding: 20px;
    h2{
        font-size: 24px;
        font-weight: bold;
        // color:  #2A6EBB;
        border-bottom: 1px solid #2A6EBB;
        padding-bottom: 10px;
    }

    ul{
        margin-left: 0;
        padding-left: 10px;
    }
    li{
        font-size: 14px;
        list-style: none;
    }
    .price{
        //color:#a3a3a3;
        margin-top:20px;
    }
}

.dx-button.dx-button-default{
    width: 100%;
    height: initial;
    padding: 6px;
    border-radius: 1px;
}
