<div class="dx-card responsive-paddings" *ngIf="show">
  <a routerLink="{{backlink}}" class="backtomain"><i class="icon dx-icon-chevrondoubleleft"></i><span class="icon-name">Back</span></a>
    <h2>Booking confirmation</h2>
    <div class="result-card">
      <div class="fieldset" *ngIf="proid=='1'">
        <div *ngIf="confirmedResults[0].BuildingId==1" >
            <!-- <div class="section-field" *ngFor="let result of confirmedResults">
                <h2 *ngIf="confirmedResults[0].BookingStatus">{{confirmedResults[0].BookingStatus}} - {{confirmedResults[0].Name}}</h2>
            </div> -->
            <h2 *ngIf="confirmedResults[0].BookingStatus">{{confirmedResults[0].BookingStatus}} - {{confirmedResults[0].Name}}</h2>
            <div class="section-field">
              <p>Your car park bay booking at No.1 Martin Place Car Park is confirmed.</p>
              <p>Your booking details are:</p>
              <ul>
                <li *ngIf="confirmedData[0].BookingLicenseplateValue">Licence Plate: {{confirmedData[0].BookingLicenseplateValue}}</li>
                 <li>Location : No.1 Martin Place Car Park</li>
                <li>Address : No.1 Martin Place Car Park , Sydney (entry via Pitt St)</li>
              </ul>
                <ul *ngFor="let result of confirmedResults">
                  <li *ngIf="result.Id">Booking ID : {{result.Id}}</li>
                  <li *ngIf="result.DisplayInfo">Access times : {{result.DisplayInfo}}</li>
                <li *ngIf="result.Duration">Duration : {{result.Duration}} hr</li>

                </ul>

            </div>
        </div>

        <div *ngIf="confirmedResults[0].BuildingId==2"  >
          <!-- <div class="section-field" *ngFor="let result of confirmedResults">
              <h2 *ngIf="confirmedResults[0].BookingStatus">{{confirmedResults[0].BookingStatus}} - {{confirmedResults[0].Name}}</h2>
          </div> -->
          <h2 *ngIf="confirmedResults[0].BookingStatus">{{confirmedResults[0].BookingStatus}} - {{confirmedResults[0].Name}}</h2>
          <div class="section-field">
            <p>Your car park bay booking at Jessie Centre Car Park is confirmed.</p>
            <p>Your booking details are:</p>
            <ul>
              <li *ngIf="confirmedData[0].BookingLicenseplateValue">Licence Plate: {{confirmedData[0].BookingLicenseplateValue}}</li>
               <li>Location : No.1 Jessie Centre Car Park</li>
              <li>Address : Jessie Centre Car Park , Parramatta</li>
            </ul>
              <ul *ngFor="let result of confirmedResults">
                <li *ngIf="result.Id">Booking ID : {{result.Id}}</li>
                <li *ngIf="result.DisplayInfo">Access times : {{result.DisplayInfo}}</li>
              <li *ngIf="result.Duration">Duration : {{result.Duration}} hr</li>

              </ul>

          </div>
      </div>
      </div>


      <div *ngIf="proid=='2'">
      <div class="fieldset" *ngIf="confirmedData.Id">
          <div class="section-field">
              <h2 *ngIf="confirmedData.BookingStatus">{{confirmedData.BookingStatus}} - {{confirmedData.Name}}</h2>
          </div>
          <div class="section-field">
            <p>Your car park bay booking at No.1 Martin Place Car Park is confirmed.</p>
            <p>Your booking details are:</p>
              <ul>
                <li *ngIf="confirmedData.Id">Booking ID : {{confirmedData.Id}}</li>
                <li *ngIf="confirmedData.BookingLicenseplateValue">Licence Plate: {{confirmedData.BookingLicenseplateValue}}</li>
                <li>Location : No.1 Martin Place Car Park</li>
                <li>Address : No.1 Martin Place Car Park , Sydney (entry via Pitt St)</li>
                <!-- <li *ngIf="confirmedData.TransactionNumber">Transaction Number : {{confirmedData.TransactionNumber}}</li> -->
                <!-- li *ngIf="confirmedData.BookingStart">Access times : {{confirmedData.BookingStart | date:'dd/MM/yyyy'}} {{confirmedData.BookingStart | date:'shortTime' }}</li -->
                <li *ngIf="confirmedData.DisplayInfo">Access times : {{confirmedData.DisplayInfo}}</li>

                <!-- <li *ngIf="confirmedData.BookingStart">Arrival time : {{confirmedData.BookingStart | date:'shortTime' }}</li> -->
                <li *ngIf="confirmedData.Duration">Duration : {{confirmedData.Duration}} hr</li>
                <!-- li class="price" *ngIf="confirmedData.Amount && confirmedData.Amount > 0">
                  Price -
                  <ng-container *ngIf="confirmedData.PricingInfo">{{confirmedData.PricingInfo}}</ng-container>
                  <ng-container *ngIf="!confirmedData.PricingInfo">${{confirmedData.Amount}} (incl GST)</ng-container>
                </li -->
              </ul>
          </div>
      </div>
    </div>
    </div>
</div>
