:host {
  width: 100%;
  height: 100%;
}

.dx-card {
  width: initial;
  margin: 40px auto;
  padding: 0;
  background: transparent;

  .responsive-paddings {
    background: #fff;
}

  :host-context(.screen-x-small) & {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    border: 0;
    flex-grow: 1;
  }  
}
