html,
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.content {
  line-height: 1.5;

  h2 {
    // color: #2A6EBB;
    font-weight: bold;
    font-size: 18px;
    // margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2a6ebb;
  }
}

.content-block {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 20px !important;

  .screen-x-small & {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.responsive-paddings {
  padding: 20px;
  margin: 0 auto;

  .screen-large & {
    padding: 20px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.full-height-scrollable
  > .dx-scrollable-wrapper
  > .dx-scrollable-container
  > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

.backtomain {
  display: block;
  margin-top: -10px;
  font-size: 0.9em;
  margin-bottom: 5px;
  i {
    vertical-align: text-bottom;
  }
}

.dx-card {
  h2 {
    font-size: 24px;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 1px solid #2a6ebb;
  }
}

.dx-button.dx-button-success {
  padding: 5px;
  height: auto;
}
.form1 {
  .dx-button.dx-button-success {
    width: 100%;
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.loader {
  // border: 16px solid #f3f3f3; /* Light grey */
  // border-top: 16px solid #3498db; /* Blue */
  // border-radius: 50%;
  // width: 120px;
  // height: 120px;
  // animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 200px;
  width: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
.gm-ui-hover-effect {
  display: none !important;
}
