/* You can add global styles to this file, and also import other style files */

.gm-style .gm-style-iw-c {
    background: #006fb7;
    color: #fff;
    border-radius: 0px; 
    padding: 15px 20px !important;
}
.gm-style .gm-style-iw-d {
    overflow: auto !important;
}
.gm-style-iw-d span {
    font-weight: 400 !important;
}
.gm-style .gm-style-iw-t::after {
    display: none;
}