<div class="user-panel">
  <div class="user-info" *ngIf="authService.userInfo">
    <i class="dx-icon dx-icon-user"></i>
    <div class="user-name">{{authService.userInfo.email}}</div>
    <!-- <i class="dx-icon dx-icon-user"></i>
    <div class="user-name">{{userName}}</div> -->
  </div>
  <div class="user-info" *ngIf="!authService.userInfo || authService.userInfo == undefined">
    <i class="dx-icon dx-icon-user"></i>
    <div class="user-name">Login</div>
  </div>
  <dx-context-menu
    *ngIf="menuMode === 'context'"
    [items]="menuItems"
    target=".user-button"
    showEvent="dxclick"
    width="210px"
    [position]="{ my: 'top center', at: 'bottom center' }"
    cssClass="user-menu">
  </dx-context-menu>
  <dx-list
    *ngIf="menuMode === 'list'"
    class="dx-toolbar-menu-action"
    [items]="menuItems">
  </dx-list>
</div>
