<div class="content-block dx-card responsive-paddings">
        <form id="credit-form">
            
        <dx-validation-group>
            
            <div class="dx-field">
                <dx-text-box placeholder="Cardholder Name" width="100%">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Cardholder Name is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div class="dx-field">
                <dx-text-box placeholder="Credit Card Number" width="100%">
                    <dx-validator>
                    <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div class="dx-field">
                <dx-text-box placeholder="CVC" width="100%">
                    <dx-validator>
                    <dxi-validation-rule type="required" message="CVC is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div class="dx-field">
            Expiry
            </div>
            <div class="dx-field">
                <dx-text-box mode="password" placeholder="Password" width="100%">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                </dx-validator>
                </dx-text-box>
            </div>
            
            <div class="dx-field">
            <dx-button type="default" id="test" text="Login" width="100%" useSubmitBehavior='true'></dx-button>
            </div>
        </dx-validation-group>
        </form>
</div>